PORT=3001
DATABASE_URL="postgresql://postgres:password@localhost:5432/areahub?schema=public"
JWT_SECRET=seu_secret_jwt_aqui_muito_seguro
JWT_EXPIRES_IN=24h
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
